body{
    background-color: burlywood;
}
h1{
    text-align: center;
    background-color: aliceblue;
}
#delete{
    background-color: red;
}
#edit{
    background-color: rgb(76, 76, 167);
}
#add{
    background-color: greenyellow;
    
}